<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pagina principala</title>

	<meta charset="utf-8">
	<meta name="author" content="Ionel"/>
	<link type="text/css" rel="stylesheet" href="../css/stil.css"/>
</head>
<body class="container">

<header>
    <% include ../fragmente/header %>
</header>

<form method="post">
   <input type="submit" value="buton">
</form>

<footer>
    <% include ../fragmente/footer %>
</footer>

</body>
</html>