<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="UTF-8">
	<meta name="author" content="Dumitrache Larisa">
	<meta name="keywords" content="Bine ați venit la Hogwarts!, HP, Harry Potter, Hogwarts, Gryffindor, Godric Gryffindor, Hufflepuff, Helga Hufflepuff, Ravenclaw, Rowena Ravenclaw, Slytherin, Salazar Slytherin, magie, Voldermort, Tom Riddle, Minerva McGonagall, Pomona Sprout, Severus Snape, Ron Weasley, Hermione Granger, Hedwig, Albus Dumbledore, Nearly Headless Nick, Bloody Baron, Grey Lady, J.K. Rowling, Draco Malfoy, Sirius Black, Remus Lupin, Peter Pettigrew, Death Eaters, Azkaban, books, movies, spell, wand">
	<meta name="description" content="Detalii despre casa Hufflepuff, înființată de Helga Hufflepuff. Caracteristicile principale cuprind bunătatea și milosetenia, iar ca mascotă au bursucul.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Bine ați venit la Hogwarts! - Hufflepuff</title>
	
	<link rel="icon" type="image/x-icon" href="../../uploads/Imagini/favicon.ico" >
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>

<body>

<header id="header">
	<% include ../fragmente/header %>
</header>
	
<main>
<% include ..//fragmente/salut %>
<h1 id="hufff">~ Hufflepuff ~</h1>

<section> 
	<div class="clearfix">
		<a target="_blank" href="../../uploads/Video/huff.mp4"><img class="img1" src="../../uploads/Imagini/a4.png" alt="Hufflepuff Emblem" title="Bursucul Hufflepuff"></a>
		<h2>Generalități</h2>
		<p>Hufflepuff avea în componența casei sale copii care erau foarte ordonați, care făceau numai bine si pe care lumea îi considera niște "papă lapte". Dormitoarele și camera de zi sunt ascunse după o stivă de butoaie mai într-un colț de pe dreapta a coridorului ce duce la bucătărie. Pentru a intra, trebuie să cânți la niște bețe lângă ușă în ritmul numelui de Helga Astropuf. Spre deosebire de alte case, camera de zi a Astropufilor are un dispozitiv de respingere care face intrarea ilegala, în cazul în care ritmul este greșit. Camera de zi este decorată cu draperii galbene, mici tuneluri duc la dormitoarele cu uși perfect rotunde.</p>
		<p>Pocalul Hufflepuff - un artefact antic, a aparținut odată unul dintre fondatorii Hogwarts - Helga Hufflepuff. La mijlocul secolului XX pocalul a fost furat de Lord Voldemort de la ultimul său proprietar Hepzibah Smith, și l-a transformat într-un Horcrux. Pentru această transformare Voldemort a ucis-o d-na Smith.</p>
	</div>
</section>

<section>
	<div class="clearfix">
		<img class="img_dr" src="../../uploads/Imagini/13.jpg" alt="Cărți - Volum 7" title="Harry Potter și Talismanele Morții">
		<h2>Caracteristici:</h2>
		<ul style="list-style-type:square;">
			<li>Fondator: <a id="hufff0" target="_blank" href="../../uploads/Imagini/a0.jpg">Helga Hufflepuff</a></li>
			<li>Culorile casei: Galben și Negru</li>
			<li>Animal: Bursuc</li>
			<li>Trăsătura principală: Loialitate</li>
			<li>Conducător: <a id="hufff1" target="_blank" href="../../uploads/Imagini/sprout.jpg">Pormona Sprout</a></li>
			<li>Fantomă: <a id="hufff2" target="_blank" href="../../uploads/Imagini/web3.jpg">Fat Friar</a></li>
			<li>Încăperea colectivă: Hufflepuff Basement</li>
		</ul>
	</div>
</section>

</main>

<footer id="footer">
	<% include ../fragmente/footer %>
</footer>

</body>

</html>