<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="UTF-8">
	<meta name="author" content="Dumitrache Larisa">
	<meta name="keywords" content="Bine ați venit la Hogwarts!, HP, Harry Potter, Hogwarts, Gryffindor, Godric Gryffindor, Hufflepuff, Helga Hufflepuff, Ravenclaw, Rowena Ravenclaw, Slytherin, Salazar Slytherin, magie, Voldermort, Tom Riddle, Minerva McGonagall, Pomona Sprout, Severus Snape, Ron Weasley, Hermione Granger, Hedwig, Albus Dumbledore, Nearly Headless Nick, Bloody Baron, Grey Lady, J.K. Rowling, Draco Malfoy, Sirius Black, Remus Lupin, Peter Pettigrew, Death Eaters, Azkaban, books, movies, spell, wand">
	<meta name="description" content="Detalii importante legate de Quidditch, Jobenul Fermecat (Sorting Hat), Voldermort și protagonistul seriei, Harry Potter și descrieri succinte ale acestor subiecte.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Bine ați venit la Hogwarts! - Înregistrare Vrăjitori</title>
	
	<link rel="icon" type="image/x-icon" href="../../uploads/Imagini/favicon.ico" >
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>

<body>

<header id="header">
	<% include ../fragmente/header %>
</header>
	
<main>

<div>
	<% if(!locals.rsstatus) { %><!-- verific daca status e definit-->
		<form class="date" method="post" enctype="multipart/form-data">
			<p>
			<label>
				Nume: <input type="text" name="nume" value="Numele Vostru...">
			</label>
			</p>
			<p>
			<label>
				Prenume: <input type="text" name="prenume" value="Prenumele Vostru...">
			</label>
			</p>
			<p>
			<label>
				Casa: <input type="text" name="casa" value="Casa Voastră...">
			</label>
			</p>
			<p>
			<label>
				Poza: <input type="file" id="poza" name="poza">
			</label>
			</p>
			<p>			
			<input type="submit" value="Submit">
			</p>
		</form>
		<% } else if(rsstatus=="ok"){ %>
			<p>Datele au fost introduse corect.</p>
		<% } else {%>
			<p>Eroare la introducerea datelor.</p>
		<% } %>
</div>
<% include ..//fragmente/salut %>
</main>



</body>

</html>