<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="UTF-8">
	<meta name="author" content="Dumitrache Larisa">
	<meta name="keywords" content="Bine ați venit la Hogwarts!, HP, Harry Potter, Hogwarts, Gryffindor, Godric Gryffindor, Hufflepuff, Helga Hufflepuff, Ravenclaw, Rowena Ravenclaw, Slytherin, Salazar Slytherin, magie, Voldermort, Tom Riddle, Minerva McGonagall, Pomona Sprout, Severus Snape, Ron Weasley, Hermione Granger, Hedwig, Albus Dumbledore, Nearly Headless Nick, Bloody Baron, Grey Lady, J.K. Rowling, Draco Malfoy, Sirius Black, Remus Lupin, Peter Pettigrew, Death Eaters, Azkaban, books, movies, spell, wand">
	<meta name="description" content="Detalii despre casa Ravenclaw, înființată de Rowena Ravenclaw. Caracteristicile principale cuprind inteligența, iar ca mascotă au șoimul.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Bine ați venit la Hogwarts! - Ravenclaw</title>
	
	<link rel="icon" type="image/x-icon" href="../../uploads/Imagini/favicon.ico" >
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>

<body>

<header id="header">
	<% include ../fragmente/header %>
</header>
	
<main>
<% include ..//fragmente/salut %>
<h1 id="raven">~ Ravenclaw ~</h1>

<section> 
	<div class="clearfix">
		<a target="_blank" href="../../uploads/Video/raven.mp4"><img class="img1" src="../../uploads/Imagini/c4.jpg" alt="Ravenclaw Emblem" title="Șoimul Ravenclaw"></a>
		<h2>Generalități</h2>
		<p>Ravenclaw este una din cele patru case de Hogwarts, Şcoala de Magie şi Vrăjitorie, fondata de Rowena Ochi-de-soim. Membrii acestei case sunt caracterizati prin inteligenta, creativitatea, şi înţelepciunea lor. Culorile casei sunt albastru şi bronz, iar simbolul său soim-ul.Fantoma casei este Doamna Gri,care in viaţa a fost fiica Rowenei Ochi-de-soim.Mulţi experţi in magie au venit din casa aceasta, inclusiv Filius Flitwick şi Luna Lovegood. Ochi-de-soim corespunde elementului aer.</p>
		<p>Camera de zi este situată în turnul Ochilor-de-Șoim pe partea de vest a Hogwarts. Camera de zi este rotundă și umplută cu draperii albastre și fotolii, are un tavan boltit pictat cu stele și are o statuie a Rowenei care poartă diadema. Turnul are o vedere spectaculoasă a supra munților din jur. O ghicitoare trebuie rezolvată pentru a obține intrarea.</p>
	</div>
</section>

<section>
	<div class="clearfix">
		<img class="img_dr" src="../../uploads/Imagini/3.jpg" alt="Cărți - Volum 3" title="Harry Potter și Prizonierul din Azkaban">
		<h2>Caracteristici:</h2>
		<ul style="list-style-type:square;">
			<li>Fondator: <a id="raven0" target="_blank" href="../../uploads/Imagini/r1.jpg">Rowena Ravenclaw</a></li>
			<li>Culorile casei: Albastru și Bronz</li>
			<li>Animal: Șoim</li>
			<li>Trăsătura principală: Inteligență</li>
			<li>Conducător: <a id="raven1" target="_blank" href="../../uploads/Imagini/r3.jpg">Filius Flitwick</a></li>
			<li>Fantomă: <a id="raven2" target="_blank" href="../../uploads/Imagini/r2.jpg">Grey Lady</a></li>
			<li>Încăperea colectivă: Ravenclaw Tower</li>
		</ul>
	</div>
</section>

</main>

<footer id="footer">
	<% include ../fragmente/footer %>
</footer>

</body>

</html>