<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="UTF-8">
	<meta name="author" content="Dumitrache Larisa">
	<meta name="keywords" content="Bine ați venit la Hogwarts!, HP, Harry Potter, Hogwarts, Gryffindor, Godric Gryffindor, Hufflepuff, Helga Hufflepuff, Ravenclaw, Rowena Ravenclaw, Slytherin, Salazar Slytherin, magie, Voldermort, Tom Riddle, Minerva McGonagall, Pomona Sprout, Severus Snape, Ron Weasley, Hermione Granger, Hedwig, Albus Dumbledore, Nearly Headless Nick, Bloody Baron, Grey Lady, J.K. Rowling, Draco Malfoy, Sirius Black, Remus Lupin, Peter Pettigrew, Death Eaters, Azkaban, books, movies, spell, wand">
	<meta name="description" content="Detalii despre casa Slytherin, înființată de Salazar Slytherin. Caracteristicile principale cuprind viclenia și capacitea de a se descurca în orice situație, iar ca mascotă au șarpele.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Bine ați venit la Hogwarts! - Slytherin</title>
	
	<link rel="icon" type="image/x-icon" href="../../uploads/Imagini/favicon.ico" >
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>

<body>

<header id="header">
	<% include ../fragmente/header %>
</header>
	
<main>
<% include ..//fragmente/salut %>
<h1 id="slyth">~ Slytherin ~</h1>

<section> 
	<div class="clearfix">
		<a target="_blank" href="../../uploads/Video/slyth.mp4"><img class="img1" src="../../uploads/Imagini/s0.jpg" alt="Slytherin Emblem" title="Șarpele Gryffindor"></a>
		<h2>Generalități</h2>
		<p>Viperinii sunt una dintre cele patru case de la Hogwarts, Şcoala de Magie, Vraji şi Vrăjitorii, şi este casa studenţilor care prezintă trăsături cum ar fi viclenia şi ambiţia. Emblema sa este sarpele si culorile sale sunt verde şi argintiu. Fondată de Salazar Viperin, casa este compusă în mare parte de studenţi pur-sânge, din cauza neîncrederii fondatorului său in vrajitoarele Încuiate. Casa are o reputaţie negativă, mulţi susţinând că aceasta este sursa de cei Mai Intunecati Vrajitori din Marea Britanie, în special Tom Dorlent Cruplud, zis si Lordul Cap-de-mort, precum şi multi dintre Devoratorii Mortii.</p>
		<p>Viperinii tind să fie ambiţiosi, perspicace, vicleni, şi orientati spre realizare. De asemenea, au dezvoltat simţuri de auto-conservare. Asta înseamnă că Viperinii tind să ezite înainte de a acţiona, astfel încât să cântărească toate rezultatele posibile ale unei decizii (şi modul în care aceste rezultate ar avea un impact personal), spre deosebire de Cercetasi, a căror curaj natural ar putea duce la actionarea imediata si instictiva. Potrivit Albus Dumbledore, calităţile pe care Salazar le-a ales elevilor, includ inteligenţa, ingeniozitatea, determinarea, şi "un anumit impuls de nerespectare a regulilor." Dumbledore a observat că toate aceste calităţi au fost posedate de Harry Potter, care a ajuns la Cercetasi.</p>
		<p>Moștenirea lăsata de Salazar este un medalion,care a fost transformat într-un Horcrux de către Voldemort, și distrus mai apoi de Ron Weasley cu Sabia lui Godric Gryffindor. Dormitoarele și camera de zi a Viperinilor este sub Lacul Negru, este stil temniță, mobilat cu lămpi verzi și fotolii sculptate. Jobenul Magic susține că Viperinii își aleg elevii după puritatea sângelui. Se poate intra în camera de zi a Viperinilor rostind o parolă.</p>
	</div>
</section>

<section>
	<div class="clearfix">
		<img class="img_dr" src="../../uploads/Imagini/ss.gif" alt="Emblemă Slytherin - Gif" title="Slytherin Snake Emblem">
		<h2>Caracteristici:</h2>
		<ul style="list-style-type:square;">
			<li>Fondator: <a id="slytherin0" target="_blank" href="../../uploads/Imagini/s1.jpg">Salazar Slytherin</a></li>
			<li>Culorile casei: Verde și Argintiu</li>
			<li>Animal: Șarpe</li>
			<li>Trăsătura principală: Viclenie</li>
			<li>Conducător: <a id="slytherin1" target="_blank" href="../../uploads/Imagini/s2.jpg">Severus Snape</a></li>
			<li>Fantomă: <a id="slytherin2" target="_blank" href="../../uploads/Imagini/s3.jpg">Bloody Baron</a></li>
			<li>Încăperea colectivă: Slytherin Dungeon</li>
		</ul>
	</div>
</section>

</main>

<footer id="footer">
	<% include ../fragmente/footer %>
</footer>

</body>

</html>